{% extends "biblion/base.html" %}

{% block content %}
    {% include "biblion/paginate.html" %}
    {% for post in object_list %}
    <div class="blog_post">
        <header>
            <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
            <div class="post_info">
                Publicado dia {{ post.published|date:"d \de F \de Y" }} por <a>{{ post.author }}</a>
            </div>
        </header>
        <div class="post_content">
            {{ post.teaser_html|safe }}
        </div>
        <footer><a href="{{ post.get_absolute_url }}">Continuar lendo...</a></footer>
    </div>
    {% empty %}
    <div class="warn">Nenhuma postagem foi encontrada.</div>
    {% endfor %}
    {% include "biblion/paginate.html" %}
{% endblock %}
