{% extends "base.html" %}
{% load tagging_tags %}

{% block content %}
    
<div class="blog_post">
    <header>
        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        <div class="post_info">
            Publicado dia {{ post.published|date:"d \de F \de Y" }} por <a>{{ post.author }}</a>
        </div>
    </header>
    <div class="post_content">
        {{ post.content_html|safe }}
    </div>
    <footer>
        {% tags_for_object post as tag_list %}
        <strong>Tags</strong>:
        {% for tag in tag_list %}
        {{ tag }} {% endfor %}
    </footer>
</div>
    
{% endblock %}
