/*
 * BASIC.CSS (Basic styles and typography)
 *
 * version: 0.1
 * media: screen, print
 *
 * * */

html                    { font: 75%/150% Arial, Helvetica, sans-serif; }

abbr                    { border-bottom: dotted 1px; border-color: inherit; cursor: help; }
address                 { margin: 1em 0; font-style: normal; }
.displayNone            { display: none; }
.hidden                 { position: absolute; left: -999em; }
.clear                  { display: block; clear: both; height: 1px; line-height: 1px; font-size: 1px; }


/* * * * * *  headings  * * * * * */
h1, h2, h3, h4, h5, h6  { margin: 32px 0 12px; font-size: 1em; }
h1                      { font-size: 2em; font-weight: normal; }
h2                      { font-size: 1.5em; }
h3                      { font-size: 1.25em; }


/* * * * * *  lists  * * * * * */
ul                      { margin: 1em 0; padding: 0; list-style: none; }
ul li                   { padding-left: 16px; list-style: none; background: url(../images/li.gif) 5px 5px no-repeat; }
ol                      { margin: 1em 0 1em 2em; padding: 0; }


/* * * * * *  links  * * * * * */
a                       { color: #1C66A2; text-decoration: underline; }
a:visited               { color: #b17816; }
a:hover                 { text-decoration: none; }
a:focus,
a:active                { background: yellow; }


/* * * * * *  images  * * * * * */
img                     { border: none; }


/* * * * * *  forms  * * * * * */
form                    { margin: 0; padding: 0; }
fieldset                { margin: 1em 0; padding: 1em; border: solid 1px #dadada; background: #f5f5f5; }
fieldset legend         { padding: 6px 12px; font-weight: bold; font-size: 1.09em; color: black; background: #d9d9d9; }
input,
textarea                { margin: 0; padding: 3px 3px; font-size: 1em; font-family: Arial, Helvetica, sans-serif; border: solid 1px #dadada; }
textarea                { font-size: 12px; }
select                  { font-size: 1em; font-family: Arial, Helvetica, sans-serif; }
input.submit            { padding: 4px 8px 3px; cursor: pointer; border: none; font-weight: bold; font-family: Arial, Helvetica, sans-serif;
                          border: solid 1px #f5f5f5; color: black; background: #ffcc45 url(../images/submit.gif) 0 0 repeat-x; }

